<title>About</title>
<h1>About This Project</h1>

<body>
    <p class=lead>This project was a proof of concept for using node as a backend, handlebars-express as a template
        engine, and express as a framework.<br>
        Use the searchbox in the upper right corner to search for stocks by their symbol. some useful information will
        be returned.
    </p>
</body>

<source><sup>api source: <a href="https://iexcloud.io/">https://iexcloud.io/</a></sup></source>