<body class="text-center">
    <title>Start</title>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

        <main role="main" class="inner cover">
            <h1 class="cover-heading">A Site Made with Node to Make API Calls</h1>
            <p class="lead">Search a Stock Symbol to Begin or Follow the Link Below for the Github Page</p>
            <p class="lead">
                <a href="https://github.com/" class="btn btn-lg btn-secondary">source code</a>
            </p>
        </main>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    {{!--
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script> --}}

</body>